*{
    background-color:lavender;
    text-align: center;
}

#height, #weight {
    background-color: whitesmoke;
    width: 150px;
    height: 25px;
    border-radius: 7px;
}

#results {
    font-size: 25px;
    color: rgb(63, 20, 220);
}

button {
    height: 35px;
    width: 100px;
    border-radius: 7px;
    background-color: whitesmoke;
    font-size: 18px;
}